<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Usuario</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>

<h2 th:text="${usuario.id == null} ? 'Nuevo Usuario' : 'Editar Usuario'"></h2>

<form th:action="@{/usuarios/save}" th:object="${usuario}" method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}" required minlength="3" />

    <label>Contraseña:</label>
    <input type="password" th:field="*{password}" required minlength="4" />

    <label>Rol:</label>
    <select th:field="*{rol}">
        <option th:each="r : ${T(com.example.myapp.domain.Rol).values()}"
                th:value="${r}"
                th:text="${r}">
        </option>
    </select>

    <button type="submit">Guardar</button>
    <a th:href="@{/usuarios/listAll}">Cancelar</a>

</form>

</body>
</html>
