<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:insert="~{fragment.html :: cabecera}"></th:block> 
    <title>MyApp - Editar Cuenta</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/tables.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>

<body>

    <h1>Editar cuenta</h1>

    <form method="post" action="#" th:action="@{/cuentas/edit/submit}" th:object="${cuentaForm}">
        
        <label>Iban (solo lectura):</label>
        <input type="text" id="iban" readonly th:field="*{iban}" />

        <label>Alias:</label>
        <input type="text" id="alias" th:field="*{alias}" />

        <input type="hidden" id="saldo" th:field="*{saldo}" />

        <input class="btn-primary" type="submit" value="Enviar" />
    </form>

</body>
</html>
